:root {
  --primary-color: rgb(137, 168, 178);
  --text-color: rgb(94, 104, 109);
  --lightcream-color: rgb(241, 240, 232);
  --background-color: rgb(255, 255, 255, 0.5);
}

html {
  font-size: 16px; /* Base font size */
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: "Comfortaa", cursive, serif;
  margin: 40px 10px;
  color: var(--text-color);
  background: radial-gradient(
    circle,
    var(--primary-color) 10%,
    var(--lightcream-color) 90%
  );
}

.background-image {
  position: fixed;
  background-position-x: center;
  background-position-y: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/153/843/original/world-map.jpg?1735749935);
  background-size: cover;
  opacity: 10%;
  z-index: -1;
}

.container {
  background-color: var(--background-color);
  padding: 30px;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin: 0 0 25px;
}

select {
  width: 100%;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 1rem;
  opacity: 0.5;
  appearance: none; /* Remove default styles */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  cursor: pointer;
  border: 1px solid var(--text-color);
}

/* Add a background arrow */
select {
  background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"%3E%3Cpath fill="%23999" d="M0 0l5 6 5-6H0z"/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

select:hover {
  border-color: var(--primary-color);
}

select option {
  color: var(--text-color);
  background-color: var(--background-color);
}

.cityList {
  margin-top: 20px;
}

.city {
  display: flex;
  justify-content: space-between;

  padding: 15px;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}

.city:last-child {
  margin-bottom: 0;
}

.city:hover::before {
  content: "Delete";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  height: 30%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.2);
  color: var(--lightcream-color);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

h2 {
  margin: 0 0 10px;
  font-size: 1.75rem;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 3rem;
  font-weight: 500;
}

.time small {
  font-size: 1.5rem;
  vertical-align: middle;
  line-height: 48px;
}

a {
  text-decoration: none;
}

.homeBtn {
  display: block;
  margin: 25px auto 0;
  background-color: var(--primary-color);
  opacity: 0.5;
  padding: 7px 20px;
  border: none;
  border-radius: 4px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.homeBtn:hover {
  opacity: 0.4;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8rem;
}

footer a {
  font-weight: 600;
  color: var(--lightcream-color);
}
